nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar-left {
    flex: 1; /* Takes up remaining space on the left */
}

.navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-right ul li {
    margin-left: 20px;
}

.navbar-right ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.navbar-right ul li a:hover {
    text-decoration: underline;
}
