#projects {
    padding: 20px;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.resume-button:hover {
    background-color: #0056b3;
}

.resume-button .fa-icon {
    margin-right: 10px;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.project h3 {
    margin-top: 0;
    font-size: 1.75rem;
}

.project p {
    margin: 10px 0;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}